<section>
  <div class="header-bg wrap-content">
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-lachitus-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>

    <h1>
      <a href="/" class="logo"></a>
    </h1>
  </div>

  <div class="navbar lachitus-navbar spacer-none" role="navigation">

    <nav class="collapse -bg-gold navbar-collapse" id="js-lachitus-collapse">
      <ul class="nav h-text-md-center nav__main text-uppercase">
        <li><a class="nav" href="/products?type=collections">New Collections</a></li>
        <li><a class="nav" href="/products?type=clothing">Clothing</a></li>
        <li><a class="nav" href="/products?type=handbags">Handbags</a></li>
        <li><a class="nav" href="/products?type=shoes">Shoes</a></li>
        <li><a class="nav" href="/products?type=jewelry">Jewelry</a></li>
        <li><a class="nav" href="/products?type=accessories">Accessories</a></li>
      </ul>
    </nav>

  </div>
</section>
