<section>
  <div class="container-fluid h-space-in-all-large">
    <div class="row">
      <div class="col-sm-12 col-md-offset-1 col-md-5 h-space-in-all-xsmall">
        <%= image_tag("lachitus-product1.jpg", class: "product img-responsive center-block", alt: "Lachitus fashion") %>
      </div>
      <div class="col-sm-12 col-md-5">
        <h3>Product Name</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
          exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
          dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <div class="row">
          <div class="col-xs-12 col-sm-8">
            <div class="btn-group" role="group" aria-label="...">
              <button type="button" class="btn btn-default">S</button>
              <button type="button" class="btn btn-default">M</button>
              <button type="button" class="btn btn-default">L</button>
              <button type="button" class="btn btn-default">XL</button>
            </div>
          </div>

          <div class="col-xs-4">
            <a href="/size-guide" target="_blank" class="btn btn-default btn-block">Size guide</a>
            <button class="btn btn--primary btn-block">Add to card</button>
          </div>

          <div class="col-xs-12 col-sm-4">
            <h4>Can I HELP YOU?</h4>
            <p>Telephone</p>
            <p>0123456789</p>

            <p>Email</p>
            <!-- <a href="/send-mail" class="btn btn--primary btn-block" target="_blank">SEND</a> -->

            <h4>Social Media</h4>
            <p>Facebook</p>
            <p>Instagram</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
