<%= render partial: "pages/section_header_bar" %>
<section>
  <div class="container-fluid h-space-in-all-large">
    <div class="row">
      <div class="col-xs-12 col-md-8 col-lg-7 col-lg-offset-1">
        <table class="table table-striped">
          <thead>
            <tr class="-bg-dark">
              <th colspan="8">
                CLOTHING
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">
                Size
              </th>
              <td>
                2
              </td>
              <td>
                4
              </td>
              <td>
                6
              </td>
              <td>
                8
              </td>
              <td>
                10
              </td>
              <td>
                12
              </td>
              <td>
                14
              </td>
            </tr>
            <tr>
              <th scope="row">
                Chest(inches)
              </th>
              <td>
                32.3
              </td>
              <td>
                33.85
              </td>
              <td>
                35.4
              </td>
              <td>
                37
              </td>
              <td>
                38.6
              </td>
              <td>
                40.15
              </td>
              <td>
                41.73
              </td>
            </tr>

            <tr>
              <th scope="row">
                Waist (inches)
              </th>
              <td>
                25.2
              </td>
              <td>
                26
              </td>
              <td>
                27.5
              </td>
              <td>
                29.1
              </td>
              <td>
                30.7
              </td>
              <td>
                32.3
              </td>
              <td>
                33.85
              </td>
            </tr>
            <tr>
              <th scope="row">
                Hips (inches)
              </th>
              <td>
                35.4
              </td>
              <td>
                37
              </td>
              <td>
                38.5
              </td>
              <td>
                40.15
              </td>
              <td>
                41.7
              </td>
              <td>
                43.3
              </td>
              <td>
                44.9
              </td>
            </tr>
            <tr>
              <th colspan="8">
              </th>
            </tr>
          </tbody>
        </table>

        <table class="table table-striped">
          <thead>
            <tr class="-bg-dark">
              <th colspan="7">
                CLOTHING
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">
                Size
              </th>
              <td>
                XXS
              </td>
              <td>
                XS
              </td>
              <td>
                S
              </td>
              <td>
                M
              </td>
              <td>
                L
              </td>
              <td>
                XL
              </td>
            </tr>
            <tr>
              <th scope="row">
                Chest(inches)
              </th>
              <td>
                31.5
              </td>
              <td>
                32.3
              </td>
              <td>
                33.9
              </td>
              <td>
                35.4
              </td>
              <td>
                37.8
              </td>
              <td>
                40.15
              </td>
            </tr>

            <tr>
              <th scope="row">
                Waist (inches)
              </th>
              <td>
                22.8
              </td>
              <td>
                24.4
              </td>
              <td>
                26
              </td>
              <td>
                27.5
              </td>
              <td>
                30
              </td>
              <td>
                32.3
              </td>
            </tr>
            <tr>
              <th scope="row">
                Hips (inches)
              </th>
              <td>
                33.8
              </td>
              <td>
                35.4
              </td>
              <td>
                37
              </td>
              <td>
                38.6
              </td>
              <td>
                41
              </td>
              <td>
                43.3
              </td>
            </tr>
          </tbody>
        </table>

        <table class="table table-striped">
          <thead>
            <tr class="-bg-dark">
              <th colspan="4">
                BELTS
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">
                Size
              </th>
              <td>
                80
              </td>
              <td>
                85
              </td>
              <td>
                90
              </td>
            </tr>
            <tr>
              <th scope="row">
                Length (inches)
              </th>
              <td>
                31.5
              </td>
              <td>
                33.5
              </td>
              <td>
                35.4
              </td>
            </tr>

          </tbody>
        </table>
      </div>
      <div class="col-xs-12 col-md-4 col-lg-4">
        <%= image_tag("lachitus-size-guide.png", alt: "Lachitus fashion", class: "center-block img-responsive") %>
      </div>
    </div>
  </div>
</section>
