<%= render partial: "pages/section_header_bar" %>

<section class="wrap-content section-about section-about-lachitus">
  <div class="container">
    <div class="profile-container">
      <div class="section-box">
        <div class="profile-text">
          <p class="text-center -color-gold"><big>
            Term Condition
          </big></p>
          <p><small>
            These <b>terms &amp; conditions</b> set out the basis on which you can visit and use our website

            <p class="text-center"><a href="www.lachitus.com" target="_blank"> www.lachitus.com</a>.</p>

          </small></p>

          <p><small>
            Please read them carefully as they contain important information.

            If you want to ask us anything about these <b>terms &amp; conditions</b> or have any comments or

            complaints about our website, please:
          <p class="text-center">Email us at <a href="mailto:info@lachitus.com?Subject=Lachitus%20support" target="_top">lachitus2015@gmail.com</a>
          </br> <span>Call us on +00 (1) 4253191341.</span></p>
          </small></p>

          <p><small>
            Please note that all calls to customer services will be charged at

            local rates dependent on your network provider and may be recorded for training

            purposes.
          </small></p>
        </div>
        <div class="profile-social -bg-gold text-center">

          <ul class="nav navbar-nav social">
            <li>
              <a class="ripple-centered" href="https://www.facebook.com" target="_blank"><i class="fa fa-3x fa-facebook"></i></a>
            </li>
            <li>
              <a class="ripple-centered" href="https://twitter.com/" target="_blank"><i class="fa fa-3x fa-twitter"></i></a>
            </li>
            <li>
              <a class="ripple-centered" href="https://www.linkedin.com/" target="_blank"><i class="fa fa-3x fa-linkedin"></i></a>
            </li>
            <li>
              <a class="ripple-centered" href="https://plus.google.com" target="_blank"><i class="fa fa-3x fa-google-plus"></i></a>
            </li>
            <li>
              <a class="ripple-centered" href="https://www.instagram.com/" target="_blank"><i class="fa fa-3x fa-instagram"></i></a>
            </li>
          </ul>

        </div>
      </div>

    </div>
  </div>
</section> <!-- About Chi -->
